html {
    scroll-behavior: smooth;
    font-size: 16px;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

.container {
    max-width: 100%;
}

@media (min-width: 576px) {
    .container {
    max-width: 540px;
    }
}

@media (max-width: 576px) {
    .navbar-brand img {
    max-width: 15rem !important;
    }
}

@media (min-width: 768px) {
    .container {
    max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
    max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
    max-width: 1140px;
    }
}

p,
h1,
h2,
h3,
h4,
h5,
small {
    white-space: pre-line;
}

@media screen and (max-width: 768px) {

    input,
    select,
    textarea {
    font-size: 16px !important;
    }
}

h1.sw-font-family-default,
h2.sw-font-family-default {
    font-family: "Arima Madurai";
}

h1.sw-font-weight-default,
h2.sw-font-weight-default {
    font-weight: 400;
}

h1.sw-text-color-default,
h2.sw-text-color-default {
    color: #000000;
}

section.sw-font-family-default,
header.sw-font-family-default,
nav.sw-font-family-default,
footer.sw-font-family-default,
div.sw-font-family-default,
span.sw-font-family-default,
small.sw-font-family-default,
pre.sw-font-family-default,
p.sw-font-family-default,
b.sw-font-family-default,
li.sw-font-family-default,
ul.sw-font-family-default,
a.sw-font-family-default,
h3.sw-font-family-default,
h4.sw-font-family-default,
h5.sw-font-family-default,
h6.sw-font-family-default {
    font-family: "Athiti";
}

span.sw-font-weight-default,
li.sw-font-weight-default span,
small.sw-font-weight-default,
li.sw-font-weight-default small,
pre.sw-font-weight-default,
p.sw-font-weight-default,
h3.sw-font-weight-default,
h4.sw-font-weight-default,
h5.sw-font-weight-default,
h6.sw-font-weight-default {
    font-weight: 400;
}

span.sw-text-color-default,
li.sw-text-color-default span,
small.sw-text-color-default,
li.sw-text-color-default small,
pre.sw-text-color-default,
p.sw-text-color-default,
div.sw-text-color-default,
h3.sw-text-color-default,
h4.sw-text-color-default,
h5.sw-text-color-default,
h6.sw-text-color-default {
    color: #000000;
}

input.sw-font-family-default,
textarea.sw-font-family-default {
    font-family: "Athiti";
}

input.sw-font-weight-default,
textarea.sw-font-weight-default {
    font-weight: 400;
}

.sw-font-family-default::-webkit-input-placeholder,
.sw-font-family-default::-moz-placeholder,
.sw-font-family-default:-ms-input-placeholder,
.sw-font-family-default:-moz-placeholder {
    font-family: "Athiti";
}

.sw-font-family-default::-webkit-input-placeholder,
.sw-font-family-default::-moz-placeholder,
.sw-font-family-default:-ms-input-placeholder,
.sw-font-family-default:-moz-placeholder {
    font-weight: 400;
}

.sw-text-color-default[data-element='button'] {
    color: #ffffff;
}

.sw-background-color-default[data-element='button'] {
    background-color: #2977c9;
}

.sw-border-radius-default[data-element='button'] {
    border-radius: .25rem;
}

.sw-font-size-m {
    font-size: 1rem !important;
}

.sw-text-color-000000 {
    color: #000000 !important;
}

.sw-text-color-white {
    color: #fff !important;
}

.sw-font-family-default {}

.sw-font-family-roboto-c {}

.sw-font-weight-semibold {
    font-weight: 600 !important;
}

.sw-letter-spacing-normal {
    letter-spacing: 0rem !important;
}

.sw-display-block {
    display: block !important;
}

.sw-padding-top-6xs {
    padding-top: 0.5rem !important;
}

.sw-padding-bottom-6xs {
    padding-bottom: 0.5rem !important;
}

.sw-padding-left-6xs {
    padding-left: 0.5rem !important;
}

.sw-padding-right-xs {
    padding-right: 2rem !important;
}

.hover\:sw-text-decoration-no-underline:hover {
    text-decoration: none !important;
}

.active\:sw-background-color-transparent:active {
    background-color: transparent !important;
}

.sw-text-color-default {}

.sw-border-radius-default {}

.sw-background-color-default {}

.sw-padding-left-2xs {
    padding-left: 1.5rem !important;
}

.sw-padding-right-2xs {
    padding-right: 1.5rem !important;
}

.sw-padding-top-5xs {
    padding-top: 0.75rem !important;
}

.sw-padding-bottom-5xs {
    padding-bottom: 0.75rem !important;
}

.sw-border-style-none {
    border-style: none !important;
}

.sw-border-width-xs {
    border-width: 1px !important;
}

.sw-border-color-000000 {
    border-color: #000000 !important;
}

.sw-border-color-white {
    border : 1px solid white !important;
}

.sw-display-inline-block {
    display: inline-block !important;
}

.sw-text-decoration-no-underline {
    text-decoration: none !important;
}

.hover\:sw-box-shadow-m:hover {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06) !important;
}

@media (min-width: 768px) {
    .m\:sw-margin-left-6xs {
    margin-left: 0.5rem !important;
    }
}

.sw-background-color-ffd234 {
    background-color: #ffd234 !important;
}

.sw-background-color-main {
    background-color: #f79630 !important;
}

.sw-background-color-second {
    background-color: #0333a0 !important;
}

.sw-background-color-gradient {
    background: rgb(247,150,48);
    background: linear-gradient(rgba(247,150,48,1) 20%, #0333a0 80%);
}

.sw-padding-bottom-4xs {
    padding-bottom: 1rem !important;
}

.sw-border-top-style-none {
    border-top-style: none !important;
}

.sw-border-top-width-xs {
    border-top-width: 1px !important;
}

.sw-border-top-color-000000 {
    border-top-color: #000000 !important;
}

.sw-border-bottom-style-none {
    border-bottom-style: none !important;
}

.sw-border-bottom-width-xs {
    border-bottom-width: 1px !important;
}

.sw-border-bottom-color-000000 {
    border-bottom-color: #000000 !important;
}

.sw-width-8xs {
    width: 5rem !important;
}

.sw-font-size-l {
    font-size: 1.125rem !important;
}

.sw-font-weight-normal {
    font-weight: 400 !important;
}

.header1-fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.1);
}

#header1 .navbar-nav .dropdown-menu {
    border: 0;
    box-shadow: 0 1px 3px #00000014, 0 10px 40px -10px #00000059;
    min-width: 180px;
}

#header1 .navbar-nav .dropdown-menu a {
    padding-left: 1.5rem !important;
}

#header1 .toggle-button {
    display: none;
}

#header1 .mob-menu-header {
    padding: 8px 24px;
    display: flex;
    justify-content: space-between;
}

#header1 .mob-menu-body {
    height: 90%;
    position: relative;
}

#header1 .navigation-section {
    padding: 10px 24px;
}

#header1 .navigation-section p a {
    width: 100%;
}

#header1 .buttons-section {
    margin: 24px;
    display: flex;
    justify-content: flex-start;
}

#header1 .arrow {
    position: absolute;
    right: 15px;
    top: 5px;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-left: 2px solid #29394c;
    border-top: 2px solid #29394c;
    transform: rotate(225deg);
    transition: .2s linear;
    margin-top: 10px;
}

#header1 .link {
    background: #f5f5f5;
    padding: 3px 10px;
}

#header1 .collapsed.link {
    background: none;
}

#header1 .collapsed .arrow {
    transform: rotate(135deg);
}

#header1 .buttons-section button {
    margin-left: 0 !important;
}

#header1 .navbar-close i {
    font-size: 24px;
    margin-top: 10px;
    margin-right: 3px;
    cursor: pointer;
}

#header1 .mob-menu-content {
    display: none;
}


#hero1 .row {
    /* flex-direction : row-reverse; */
}

section#feature-grid1 {
    background: url(assets/gradient.jpeg);
    background-attachment: fixed !important;
}

img.fill-white {
    filter : invert(1);
}

@media (max-width: 992px) {
    #header1 .desktop-menu {
    display: none;
    }

    #header1 .toggle-button {
    display: block;
    }

    #header1 .mob-menu-content {
    display: block;
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    background: #fff;
    -webkit-transition: ease-in all 0.5s;
    transition: ease-in all 0.5s;
    -webkit-transform: translateX(200%);
    -ms-transform: translateX(200%);
    transform: translateX(200%);
    }

    #header1 .mob-menu-content.show {
    display: block;
    opacity: 1;
    /*left: 0;*/
    -webkit-transition: ease-in all 0.5s;
    transition: ease-in all 0.5s;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    }

    #header1 a.dropdown-item {
    padding-left: 1.5rem !important;
    }

    #hero1 .row {
        flex-direction : column-reverse;
    }
}

@media (max-width: 414px) {
    #header1 .buttons-section {
    margin-left: 24px;
    margin-right: 0;
    }

    #header1 .buttons-section a {
    margin-right: 10px;
    }
}

.navbar-dark .navbar-toggler-icon {
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-light .navbar-toggler-icon {
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.sw-font-size-m {
    font-size: 1rem !important;
}

.sw-text-color-default {}

.sw-font-family-default {}

.sw-font-weight-semibold {
    font-weight: 600 !important;
}

.sw-border-radius-full {
    border-radius: 9999rem !important;
}

.sw-background-color-default {}

.sw-padding-left-s {
    padding-left: 2.5rem !important;
}

.sw-padding-right-s {
    padding-right: 2.5rem !important;
}

.sw-padding-top-5xs {
    padding-top: 0.75rem !important;
}

.sw-padding-bottom-5xs {
    padding-bottom: 0.75rem !important;
}

.sw-border-style-none {
    border-style: none !important;
}


.sw-border-width-xs {
    border-width: 1px !important;
}

.sw-border-color-000000 {
    border-color: #000000 !important;
}

.sw-border-color-white {
    border : 1px solid white !important;
}

.sw-letter-spacing-normal {
    letter-spacing: 0rem !important;
}

.sw-text-decoration-no-underline {
    text-decoration: none !important;
}

.hover\:sw-text-decoration-no-underline:hover {
    text-decoration: none !important;
}

.hover\:sw-box-shadow-m:hover {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06) !important;
}

.sw-margin-bottom-6xs {
    margin-bottom: 0.5rem !important;
}

.sw-margin-right-5xs {
    margin-right: 0.75rem !important;
}

.sw-display-inline-block {
    display: inline-block !important;
}

.sw-background-color-ffd234 {
    background-color: #ffd234 !important;
}

.sw-padding-top-3xl {
    padding-top: 8rem !important;
}

.sw-padding-bottom-l {
    padding-bottom: 4rem !important;
}

.sw-border-top-style-none {
    border-top-style: none !important;
}

.sw-border-top-width-xs {
    border-top-width: 1px !important;
}

.sw-border-top-color-000000 {
    border-top-color: #000000 !important;
}

.sw-border-bottom-style-none {
    border-bottom-style: none !important;
}

.sw-border-bottom-width-xs {
    border-bottom-width: 1px !important;
}

.sw-border-bottom-color-000000 {
    border-bottom-color: #000000 !important;
}

.sw-font-size-5xl {
    font-size: 3rem !important;
}

.sw-text-color-000000 {
    color: #000000 !important;
}

.sw-text-color-white {
    color: #fff !important;
}

.sw-font-family-arima_madurai {
    font-family: "Arima Madurai" !important;
}

.sw-font-family-roboto-c {
    font-family: "Roboto Condensed" !important;
}

.sw-font-weight-bold {
    font-weight: 700 !important;
}

.sw-padding-top-none {
    padding-top: 0rem !important;
}

.sw-padding-bottom-4xs {
    padding-bottom: 1rem !important;
}

.sw-line-height-normal {
    line-height: 1.5 !important;
}

.sw-font-size-xl {
    font-size: 1.25rem !important;
}

.sw-font-family-athiti {
    font-family: "Athiti" !important;
}

.sw-font-weight-normal {
    font-weight: 400 !important;
}

.sw-padding-bottom-3xs {
    padding-bottom: 1.25rem !important;
}

.sw-border-radius-default {}

.sw-background-color-000000 {
    background-color: #000000 !important;
}

.sw-padding-top-4xs {
    padding-top: 1rem !important;
}

.sw-border-width-none {
    border-width: 0px !important;
}

.sw-percentage-width-full {
    width: 100% !important;
}

.sw-border-radius-none {
    border-radius: 0rem !important;
}

.sw-background-repeat-no-repeat {
    background-repeat: no-repeat !important;
}

.sw-background-size-cover {
    background-size: cover !important;
}

.sw-background-position-center {
    background-position: center !important;
}

.sw-background-attachment-scroll {
    background-attachment: scroll !important;
}

.sw-border-style-none {
    border-style: none !important;
}

.sw-border-width-xs {
    border-width: 1px !important;
}

.sw-border-color-000000 {
    border-color: #000000 !important;
}

.sw-border-color-white {
    border: 1px solid white !important;
}

.sw-border-radius-full {
    border-radius: 9999rem !important;
}

.sw-width-8xs {
    width: 5rem !important;
}

.sw-height-8xs {
    height: 5rem !important;
}

.sw-font-size-s {
    font-size: 0.875rem !important;
}

.sw-text-color-default {}

.sw-font-family-default {}

.sw-letter-spacing-normal {
    letter-spacing: 0rem !important;
}

.sw-font-weight-normal {
    font-weight: 400 !important;
}

.sw-padding-bottom-4xs {
    padding-bottom: 1rem !important;
}

.sw-display-block {
    display: block !important;
}

.sw-font-size-m {
    font-size: 1rem !important;
}

.sw-font-weight-default {}

.sw-line-height-loose {
    line-height: 2 !important;
}

.sw-padding-top-none {
    padding-top: 0rem !important;
}

.sw-background-color-000000 {
    background-color: #000000 !important;
}

.sw-padding-top-2xl {
    padding-top: 6rem !important;
}

.sw-padding-bottom-2xl {
    padding-bottom: 6rem !important;
}

.sw-border-top-style-none {
    border-top-style: none !important;
}

.sw-border-top-width-xs {
    border-top-width: 1px !important;
}

.sw-border-top-color-000000 {
    border-top-color: #000000 !important;
}

.sw-border-bottom-style-none {
    border-bottom-style: none !important;
}

.sw-border-bottom-width-xs {
    border-bottom-width: 1px !important;
}

.sw-border-bottom-color-000000 {
    border-bottom-color: #000000 !important;
}

.sw-text-color-ffffff {
    color: #ffffff !important;
}

.sw-font-size-4xl {
    font-size: 2.25rem !important;
}

.sw-font-weight-bold {
    font-weight: 700 !important;
}

.sw-line-height-normal {
    line-height: 1.5 !important;
}

.sw-font-size-xl {
    font-size: 1.25rem !important;
}

.sw-padding-bottom-3xs {
    padding-bottom: 1.25rem !important;
}

.sw-width-6xs {
    width: 7rem !important;
}

.sw-height-6xs {
    height: 7rem !important;
}

.sw-font-weight-medium {
    font-weight: 500 !important;
}

.sw-font-size-l {
    font-size: 1.125rem !important;
}

#testimonial1 .sw-left-right-arrows {
    font-size: 1.25rem;
    color: #6d7688
}

@media (max-width: 575px) {

    #testimonial1 .carousel-control-prev,
    #testimonial1 .carousel-control-next {
    display: none;
    }
}

@media (min-width: 576px) {

    #testimonial1 .carousel-control-prev,
    #testimonial1 .carousel-control-next {
    display: flex;
    }
}

@media (min-width: 992px) {

    #testimonial1 .carousel-control-prev,
    #testimonial1 .carousel-control-next {
    width: 30%;
    }
}

.sw-border-top-style-solid {
    border-top-style: solid !important;
}

.sw-border-top-width-xs {
    border-top-width: 1px !important;
}

.sw-border-top-color-f1f2f3 {
    border-top-color: #f1f2f3 !important;
}

.sw-border-bottom-style-solid {
    border-bottom-style: solid !important;
}

.sw-border-bottom-width-xs {
    border-bottom-width: 1px !important;
}

.sw-border-bottom-color-f1f2f3 {
    border-bottom-color: #f1f2f3 !important;
}

.sw-border-right-style-solid {
    border-right-style: solid !important;
}

.sw-border-right-width-xs {
    border-right-width: 1px !important;
}

.sw-border-right-color-f1f2f3 {
    border-right-color: #f1f2f3 !important;
}

.sw-border-left-style-solid {
    border-left-style: solid !important;
}

.sw-border-left-width-xs {
    border-left-width: 1px !important;
}

.sw-border-left-color-f1f2f3 {
    border-left-color: #f1f2f3 !important;
}

.sw-font-size-2xl {
    font-size: 1.5rem !important;
}

.sw-text-color-65b7cc {
    color: #65b7cc !important;
}

.sw-width-11xs {
    width: 2rem !important;
}

.sw-margin-right-3xs {
    margin-right: 1.25rem !important;
}

.sw-line-height-compact {
    line-height: 1 !important;
}

.sw-font-size-l {
    font-size: 1.125rem !important;
}

.sw-text-color-default {}

.sw-font-family-default {}

.sw-font-weight-medium {
    font-weight: 500 !important;
}

.sw-letter-spacing-normal {
    letter-spacing: 0rem !important;
}

.sw-margin-bottom-6xs {
    margin-bottom: 0.5rem !important;
}

.sw-font-size-m {
    font-size: 1rem !important;
}

.sw-font-weight-default {}

.sw-line-height-loose {
    line-height: 2 !important;
}

.sw-background-color-faf6eb {
    background-color: #faf6eb !important;
}

.sw-padding-top-2xl {
    padding-top: 6rem !important;
}

.sw-padding-bottom-2xl {
    padding-bottom: 6rem !important;
}

.sw-border-top-style-none {
    border-top-style: none !important;
}

.sw-border-top-color-000000 {
    border-top-color: #000000 !important;
}

.sw-border-bottom-style-none {
    border-bottom-style: none !important;
}

.sw-border-bottom-color-000000 {
    border-bottom-color: #000000 !important;
}

.sw-background-repeat-no-repeat {
    background-repeat: no-repeat !important;
}

.sw-background-size-cover {
    background-size: cover !important;
}

.sw-background-position-center {
    background-position: center !important;
}

.sw-background-attachment-scroll {
    background-attachment: scroll !important;
}

.sw-font-size-4xl {
    font-size: 2.25rem !important;
}

.sw-padding-top-none {
    padding-top: 0rem !important;
}

.sw-padding-bottom-4xs {
    padding-bottom: 1rem !important;
}

.sw-line-height-normal {
    line-height: 1.5 !important;
}

.sw-font-size-xl {
    font-size: 1.25rem !important;
}

.sw-padding-bottom-3xs {
    padding-bottom: 1.25rem !important;
}

.sw-font-size-3xl {
    font-size: 1.875rem !important;
}

.sw-text-color-50a1ff {
    color: #50a1ff !important;
}

.sw-text-color-000000 {
    color: #000000 !important;
}

.sw-text-color-white {
    color: #fff !important;
}

.sw-font-family-noto_serif {
    font-family: "Noto Serif" !important;
}

.sw-font-weight-semibold {
    font-weight: 600 !important;
}

.sw-font-weight-normal {
    font-weight: 400 !important;
}

.sw-font-size-4xl {
    font-size: 2.25rem !important;
}

.sw-text-color-ff4954 {
    color: #ff4954 !important;
}

.sw-width-10xs {
    width: 3rem !important;
}

.sw-margin-right-2xs {
    margin-right: 1.5rem !important;
}

.sw-line-height-compact {
    line-height: 1 !important;
}

.sw-font-size-l {
    font-size: 1.125rem !important;
}

.sw-text-color-default {}

.sw-font-family-default {}

.sw-font-weight-medium {
    font-weight: 500 !important;
}

.sw-letter-spacing-normal {
    letter-spacing: 0rem !important;
}

.sw-margin-bottom-6xs {
    margin-bottom: 0.5rem !important;
}

.sw-margin-top-none {
    margin-top: 0rem !important;
}

.sw-font-size-m {
    font-size: 1rem !important;
}

.sw-font-weight-default {}

.sw-line-height-loose {
    line-height: 2 !important;
}

.sw-background-color-ffd234 {
    background-color: #ffd234 !important;
}

.sw-padding-top-2xl {
    padding-top: 6rem !important;
}

.sw-padding-bottom-2xl {
    padding-bottom: 6rem !important;
}

.sw-border-top-style-none {
    border-top-style: none !important;
}

.sw-border-top-width-xs {
    border-top-width: 1px !important;
}

.sw-border-top-color-000000 {
    border-top-color: #000000 !important;
}

.sw-border-bottom-style-none {
    border-bottom-style: none !important;
}

.sw-border-bottom-width-xs {
    border-bottom-width: 1px !important;
}

.sw-border-bottom-color-000000 {
    border-bottom-color: #000000 !important;
}

.sw-font-size-6xl {
    font-size: 4rem !important;
}

.sw-text-color-ffffff {
    color: #ffffff !important;
}

.sw-padding-top-none {
    padding-top: 0rem !important;
}

.sw-padding-bottom-none {
    padding-bottom: 0rem !important;
}

.sw-line-height-normal {
    line-height: 1.5 !important;
}

.sw-font-size-xl {
    font-size: 1.25rem !important;
}

.sw-padding-bottom-3xs {
    padding-bottom: 1.25rem !important;
}

.sw-percentage-width-full {
    width: 100% !important;
}

.sw-border-style-none {
    border-style: none !important;
}

.sw-border-width-xs {
    border-width: 1px !important;
}

.sw-border-color-000000 {
    border-color: #000000 !important;
}

.sw-border-color-white {
    border : 1px solid white !important;
}

.sw-border-radius-none {
    border-radius: 0rem !important;
}

.sw-background-repeat-no-repeat {
    background-repeat: no-repeat !important;
}

.sw-background-size-cover {
    background-size: cover !important;
}

.sw-background-position-center {
    background-position: center !important;
}

.sw-background-attachment-scroll {
    background-attachment: scroll !important;
}

.sw-text-color-2977c9 {
    color: #2977c9 !important;
}

.sw-font-size-2xl {
    font-size: 1.5rem !important;
}

.sw-font-weight-semibold {
    font-weight: 600 !important;
}

.sw-font-weight-normal {
    font-weight: 400 !important;
}

.sw-text-color-000000 {
    color: #000000 !important;
}

.sw-text-color-white {
    color: #fff !important;
}

.sw-font-size-m {
    font-size: 1rem !important;
}

.sw-width-11xs {
    width: 2rem !important;
}

.sw-display-inline-block {
    display: inline-block !important;
}

.sw-font-family-default {}

.sw-font-weight-semibold {
    font-weight: 600 !important;
}

.sw-letter-spacing-normal {
    letter-spacing: 0rem !important;
}

.sw-background-color-000000 {
    background-color: #000000 !important;
}

.sw-padding-top-xl {
    padding-top: 5rem !important;
}

.sw-padding-bottom-7xs {
    padding-bottom: 0.25rem !important;
}

.sw-border-top-style-none {
    border-top-style: none !important;
}

.sw-border-top-width-xs {
    border-top-width: 1px !important;
}

.sw-border-top-color-000000 {
    border-top-color: #000000 !important;
}

.sw-border-bottom-style-none {
    border-bottom-style: none !important;
}

.sw-border-bottom-width-xs {
    border-bottom-width: 1px !important;
}

.sw-border-bottom-color-000000 {
    border-bottom-color: #000000 !important;
}

.sw-font-size-s {
    font-size: 0.875rem !important;
}

.sw-text-color-ffffff {
    color: #ffffff !important;
}

.sw-font-weight-default {}

.sw-padding-top-none {
    padding-top: 0rem !important;
}

.sw-padding-bottom-3xs {
    padding-bottom: 1.25rem !important;
}

.sw-display-block {
    display: block !important;
}

.sw-margin-top-3xs {
    margin-top: 1.25rem !important;
}

.sw-margin-bottom-3xs {
    margin-bottom: 1.25rem !important;
}

.sw-border-top-style-solid {
    border-top-style: solid !important;
}

.sw-border-top-color-cccccc {
    border-top-color: #cccccc !important;
}

.sw-width-9xs {
    width: 4rem !important;
}

.sw-font-weight-normal {
    font-weight: 400 !important;
}

.sw-font-size-5xl {
    font-size: 3rem;
 }

 .sw-font-size-4xl {
    font-size: 2.25rem;
 }